:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
  
body {
    background-color: #1f242b;
    color: #fff;
    align-items: center;
    text-align: center;
}