@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    --background: #1f242b;
    --lighter-background: #303842;
    --darker-background: #16191d;
    --text: #ffffff;
    --background-text: #a5a5a5;
    --muted-text: #646464;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
  
body {
    font-family: "Lexend", sans-serif;
    background-color: var(--background);
    color: var(--text);
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}