@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    --background: #1f242b;
    --lighter-background: #303842;
    --darker-background: #16191d;
    --text: #ffffff;
    --background-text: #566375;
    --muted-text: #474e58;
    --select: rgba(48, 56, 66, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

::selection {
    background-color: var(--select);
}
  
body {
    font-family: "Lexend", sans-serif;
    background-color: var(--background);
    color: var(--text);
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--darker-background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--lighter-background);
}