<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossful</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}"> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> <!-- Base styling -->
    {% block head %}{% endblock %} <!-- Each sub-page has it's own stylesheet -->
</head>
<body>

    {% block content %}{% endblock %} <!-- Each sub-page has it's own block -->
    <footer>
        <p>Powered by Wiktor Skrzynecki</p>
        <a href="https://github.com/Hadevsh" target="_blank">GitHub</a>
    </footer>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script> <!-- Base script (for all sub-pages) -->
</body>
</html>