{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to <span>Moodful</span></h1>
    <div class="content">
        <textarea name="text-area" id="text-area" placeholder="How do you feel?"></textarea>
        <div class="controls">
            <p>Words: <span id="word-count">0</span></p>
            <p>Chars: <span id="char-count">0</span></p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}