{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to <span>Moodful</span></h1>
    <div class="content">
        <textarea name="text-area" id="text-area" placeholder="How do you feel?"></textarea>
        <div class="stats">
            <div id="sentiment-chart">
                <div class="axis x"></div>
                <div class="axis y"></div>
            </div>
            <div id="sentiment-output"><strong>Mood: </strong><i>Start typing...</i></div>
            <p><span id="char-count">0</span>/<span id="word-count">0</span></p>
            <button id="submit" class="submit" onclick="analyzeText()">Submit</button>
        </div>
        <div class="sentiment-bar-container">
            <div class="sentiment-bar-background">
                <div id="sentiment-indicator"></div>
            </div>
            <div class="scale-labels">
                <span>Negative</span>
                <span>Neutral</span>
                <span>Positive</span>
            </div>
        </div>
        <i class="fa fa-area-chart" id="chart-icon"></i>
    </div>
</div>
<div class="statistics">

</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}